body {
    display: flex;
    flex-direction: column;
}

.section,
.header {
    display: flex;
}

.header.section {
    justify-content: center;
}

.header.content {
    flex-direction: column;
}

.header .right {
    width: 600px;
    height: 200px;
    background-color: rgb(180, 180, 180);
}

.img-box {
    width: 125px;
    height: 125px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}