body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.section,
.header {
    display: flex;
}

/* HEADER SECTION */
.header.section {
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

.header.content {
    flex-direction: column;
}

.header.top,
.header.bottom {
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
    font-weight: bold;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 25px;
}

.header .left {
    width: 360px;
}

.header .left h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.header .left p {
    margin: 8px 0;
}

.header.bottom {
    padding: 100px 0;
    align-items: center;
    gap: 60px;
}

#btn-sign-up {
    background-color: #3882F6;
    color: white;
    padding: 5px 23px;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;

}

/* INFO SECTION */
.info.section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.info.section h1 {
    padding: 15px 0;
}

.img-container {
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

/* TESTIMONIAL SECTION */
.testimonial.section {
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

figure {
    width: 900px;
    padding: 50px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
}

figcaption {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
    margin-right: 170px;
}

/* SIGN-UP SECTION */
.sign-up.section {
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.rectangle {
    width: 800px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* FOOTER SECTION */
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px;
    background-color: #1F2937;
}

.header .right {
    width: 600px;
    height: 200px;
    background-color: rgb(180, 180, 180);
}

.img-box img {
    width: 125px;
    height: 125px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}